<html>
<head>
  <style type="text/css">
    .text  {font-size:XX-LARGE}
    .button  {font-size:X-LARGE;WIDTH: 200px; HEIGHT:40px}
		.scr {
			overflow-y: scroll;   /* スクロール表示 */ 
			width: 200px;
			height: 200px;
		}
  </style>

	<!-- カレンダー表示用 ↓-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/i18n/jquery.ui.datepicker-ja.min.js"></script>
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/redmond/jquery-ui.css" >
	<script>
	  $(function() {
	    $("#datepicker").datepicker();
	  });
	</script>
	<!-- カレンダー表示用 ↑-->

	<title>Yasukawa210</title>
</head>

<body>
	<form name="Main" action="/Yasukawa210/" method="post" style="font-size:X-LARGE">

<table border="1" style="background-color:lightgray">
  <TR>
    <TH style="width:80px">
      氏名
    </TH>
    <TH align="left">
      {{ Kihon.Name|default_if_none:"" }}(
      {{ Kihon.Kana|default_if_none:"" }})
			{% ifequal Kihon.Sex 1 %}　男{% endifequal %}
			{% ifequal Kihon.Sex 2 %}　女{% endifequal %}
    </TH>
  </TR>

  <TR>
    <TH style="width:80px">
      日常生活自立度
    </TH>
    <TH align="left">
			障害高齢者
				<select name="ZiritudoS">
					{% for MstRec in MstZiritudoS %} 
						<option value="{{ MstRec.CD }}"
							{% if Seikatu.ZiritudoS %}{# 指定あり #}
								{% ifequal Seikatu.ZiritudoS MstRec.CD %} selected {% endifequal %}
							{% else %} {# 未指定 #}
								{% ifequal MstRec.CD 0  %}{# 0なら選択（ディフォルト） #}
							    selected
							  {% endifequal %}
							{% endif %}
						>{{ MstRec.Name}}</option>
					{% endfor %} 
				</select>
			認知症高齢者
				<select name="ZiritudoN">
					{% for MstRec in MstZiritudoN %} 
						<option value="{{ MstRec.CD }}"
							{% if Seikatu.ZiritudoN %}{# 指定あり #}
								{% ifequal Seikatu.ZiritudoN MstRec.CD %} selected {% endifequal %}
							{% else %} {# 未指定 #}
								{% ifequal MstRec.CD 0  %}{# 0なら選択（ディフォルト） #}
							    selected
							  {% endifequal %}
							{% endif %}
						>{{ MstRec.Name}}</option>
					{% endfor %} 
				</select>
    </TH>
  </TR>
  <TR style="background-color:lightgray">
    <TH>難病</TH>
    <TH align="left">
      <input type="radio" name="NanbyoFlg" value="True" 
					{% if Seikatu.NanbyoFlg %}
						checked
					{% endif %}
       >有り
      <input type="radio" name="NanbyoFlg" value="False"
					{% if Seikatu.NanbyoFlg %}
					{% else %}
						checked
					{% endif %}
			>無し
			<input  style="width:200px" 
				value="{{ Seikatu.Nanbyo|default_if_none:"" }}" name="Nanbyo"/>
    </TH>
  </TR>

  <TR style="background-color:lightgray">
    <TH>家族関係の状況
      <input type="text" id="KazokuCtr" disabled="disabled" style="width:40px" >/1000
      <BR>最大1000バイトです。<BR><BR>
    </TH>
    <TH align="left">
      <textarea name="Kazoku" cols=100 rows=3 onkeyup="document.getElementById('KazokuCtr').value=this.value.length*2"
      >{{Seikatu.Kazoku|default_if_none:""}}</textarea>
    </TH>
  </TR>
  <TR style="background-color:lightgray">
    <TH>経済状況</TH>
    <TH align="left">
      <input type="checkbox" name="Keizai1" value="True" 
				{% if Seikatu.Keizai1 %}checked{% endif %}>国民年金
      <input type="checkbox" name="Keizai2" value="True"
				{% if Seikatu.Keizai2 %}checked{% endif %}>厚生年金
      <input type="checkbox" name="Keizai3" value="True"
				{% if Seikatu.Keizai3 %}checked{% endif %}>その他
      <input value="{{ Seikatu.Keizai|default_if_none:"" }}" name="Keizai" style="width:200px"/>
      月額
      <input value="{{ Seikatu.Getugaku|default_if_none:"" }}" name="Getugaku" style="width:50px"/>
			万円
    </TH>
  </TR>

  <TR style="background-color:lightgray">
    <TH>相談者</TH>
    <TH align="left">氏名
      <input value="{{ Seikatu.Soudansya|default_if_none:"" }}" name="Soudansya" style="width:200px"/>
<!--
      <input type="radio" name="OptZokugara" value="1" {{ Rec.OptZokugara1 }} >本人
      <input type="radio" name="OptZokugara" value="2" {{ Rec.OptZokugara2 }} >家族
      <input type="radio" name="OptZokugara" value="6" {{ Rec.OptZokugara6 }} >病院
      <input type="radio" name="OptZokugara" value="7" {{ Rec.OptZokugara7 }} >診療所
      <input type="radio" name="OptZokugara" value="8" {{ Rec.OptZokugara8 }} >居宅
      <input type="radio" name="OptZokugara" value="9" {{ Rec.OptZokugara9 }} >包括
      <input type="radio" name="OptZokugara" value="3" {{ Rec.OptZokugara3 }} >友人
      <input type="radio" name="OptZokugara" value="4" {{ Rec.OptZokugara4 }} >その他 -->
      続柄:<input value="{{ Seikatu.SoudanHoka|default_if_none:"" }}" name="SoudanHoka" style="width:200px"/><BR>
      住　所<input value="{{ Seikatu.SoudanZ|default_if_none:"" }}" name="SoudanZ" style="width:600px"/><BR>
      連絡先<input value="{{ Seikatu.SoudanR|default_if_none:"" }}" name="SoudanR" style="width:200px"/><BR>
    </TH>
  </TR>
<!--
  <TR style="background-color:lightgray">
    <TH>緊急時連絡先</TH>
    <TH align="left">氏名
      <input value="{{ Seikatu.Renrakusaki|default_if_none:"" }}" name="Renrakusaki" style="width:200px"/>
      <input type="radio" name="OptZokugara" value="1" {{ Rec.OptZokugara1 }} >本人
      <input type="radio" name="OptZokugara" value="2" {{ Rec.OptZokugara2 }} >家族
      <input type="radio" name="OptZokugara" value="6" {{ Rec.OptZokugara6 }} >病院
      <input type="radio" name="OptZokugara" value="7" {{ Rec.OptZokugara7 }} >診療所
      <input type="radio" name="OptZokugara" value="8" {{ Rec.OptZokugara8 }} >居宅
      <input type="radio" name="OptZokugara" value="9" {{ Rec.OptZokugara9 }} >包括
      <input type="radio" name="OptZokugara" value="3" {{ Rec.OptZokugara3 }} >友人
      <input type="radio" name="OptZokugara" value="4" {{ Rec.OptZokugara4 }} >その他
      続柄<input value="{{ Seikatu.RenrakuHoka|default_if_none:"" }}" name="RenrakuHoka" style="width:200px"/><BR>
      住　所<input value="{{ Seikatu.RenrakuZ|default_if_none:"" }}" name="RenrakuZ" style="width:600px"/><BR>
      連絡先<input value="{{ Seikatu.RenrakuR|default_if_none:"" }}" name="RenrakuR" style="width:200px"/><BR>
    </TH>
  </TR>
-->
  <TR>
    <TH style="background-color:lightgray"  valign="middle">
      趣味・楽しみ特技・<BR><BR>
      <input type="text" id="SyumiCtr" disabled="disabled" style="width:40px" >/1000
      <BR>最大1000バイトです。<BR><BR>
    </TH>
    <TD valign="top" colspan="4">
      <textarea name="Syumi" cols=100 rows=8  onkeyup="document.getElementById('SyumiCtr').value=this.value.length*2"
      >{{Seikatu.Syumi|default_if_none:""}}</textarea>
    </TD>
  </TR>
  <TR>
    <TH valign="top" style="background-color:lightgray">
      友人・地域との関係<BR><BR>
      <input type="text" id="YuzinCtr" disabled="disabled"  style="width:40px" >/1000
      <BR>最大1000バイトです。<BR><BR>
    </TH>
    <TD valign="top" colspan="4">
      <textarea name="Yuzin" cols=100 rows=8 onkeyup="document.getElementById('YuzinCtr').value=this.value.length*2"
      >{{Seikatu.Yuzin|default_if_none:""}}</textarea>
    </TD>
  </TR>
  <TR>
    <TH valign="top" style="background-color:lightgray">
      生活歴<BR><BR>
      <input type="text" id="SeikatuCtr" disabled="disabled"  style="width:40px" >/1000
      <BR>最大1000バイトです。<BR><BR>
    </TH>
    <TD valign="top" colspan="4">
      <textarea name="Seikatu" cols=100 rows=8 onkeyup="document.getElementById('SeikatuCtr').value=this.value.length*2"
      >{{Seikatu.Seikatu|default_if_none:""}}</textarea>
    </TD>
  </TR>

</table>
{{	LblMsg	}}
<BR>
	<input type="submit"
		value = "基本情報" name="BtnYasukawa200" class="button">
	<input type="submit" disabled
		value = "生活情報" name="BtnYasukawa210" class="button">
	<input type="submit"
		value = "病歴" name="BtnYasukawa220" class="button">
	<input type="submit"
		value = "利用サービス" name="BtnYasukawa230" class="button">
　
	<input type="submit" value = "終了" name="BtnYasukawa100" class="button"> {# 終了時に保存するから一旦post #}
<!--
<input type="submit" value = "終了" name="BtnKettei" class="button"><BR>
-->

</form>

</body>

</html>
