<html>
<head>
  <style type="text/css">
    .text  {font-size:XX-LARGE}
    .button  {font-size:X-LARGE;WIDTH: 200px; HEIGHT:40px}
    .button2  {font-size:X-LARGE;WIDTH: 400px; HEIGHT:40px}
		.scr {
			overflow-y: scroll;   /* スクロール表示 */ 
			width: 400px;
			height: 600px;
			border: 1px double #000000; 
		}
  </style>
	<title>Yasukawa230(利用サービス一覧)</title>
</head>

<body>
	<form name="Main" action="/Yasukawa230/" method="post" style="font-size:X-LARGE">
	

<table border="1"  style="background-color:LightGray">
  <TR>
    <TH style="width:80px">
      氏名
    </TH>
    <TH align="left">
      {{ Kihon.Name|default_if_none:"" }}(
      {{ Kihon.Kana|default_if_none:"" }})
			{% ifequal Kihon.Sex 1 %}　男{% endifequal %}
			{% ifequal Kihon.Sex 2 %}　女{% endifequal %}
    </TH>
  </TR>
</table>

<table border="1"  style="background-color:LightGray">
	<TR>
		<TH Width="100px">
		  サービス区分
		</TH>
		<TH Width="200px">
		  サービス名
		</TH>
		<TH Width="50px">
		  削除
		</TH>
	</TR>
</table>


<DIV class="scr"> <!-- スクロール領域 -->
<table border="1">
	<TR> <!-- # 枠幅設定用行なので高さは０ -->
		<TH Height="0" Width="100px" style="border-style:none"></TH>
		<TH Height="0" Width="200px" style="border-style:none"></TH>
		<TH Height="0" Width="50px" style="border-style:none"></TH>
	</TR>

	{% for Rec in Snap %} 
		<TR align="center">
			<TD>
				{% ifequal Rec.Kubun 0  %} 
					公式
				{% endifequal %}
				{% ifequal Rec.Kubun 1  %} 
					非公式
				{% endifequal %}
			</TD>
			<TD>
				<input type="button" style="WIDTH:200px"
					value="{{ Rec.Name }}" onclick="location.href='/Yasukawa235/?KanzyaID={{Kihon.KanzyaID}}&Key={{ Rec.key }}'">
			</TD>
			<TD>
				<input type="submit" style="WIDTH:47px;color:red;" Name="BtnDel{{ Rec.key }}"
				value = "削除">
			</TD>
		</TR>
	{% endfor %}
	<TR>
		<TH colspan="3">
			<input type="button" style="WIDTH:350px;font-size:LARGE;color:blue;"
				value="新規登録" onclick="location.href='/Yasukawa235/?KanzyaID={{Kihon.KanzyaID}}'">
		</TH>
	</TR>

</table>
</DIV>
<BR>
{{  LblMsg }}
<BR>

	<input type="button" class="button"
		value="基本情報" onclick="location.href='/Yasukawa200/?KanzyaID={{Kihon.KanzyaID}}'">
	<input type="button" class="button"
		value="生活情報" onclick="location.href='/Yasukawa210/?KanzyaID={{Kihon.KanzyaID}}'">
	<input type="button" class="button"
		value="病歴"     onclick="location.href='/Yasukawa220/?KanzyaID={{Kihon.KanzyaID}}'">
<!--
	<input type="button" class="button" disabled
		value="利用サービス" onclick="location.href='/Yasukawa230/'">
-->
　
	<input type="button" class="button"
		value="終了" onclick="location.href='/Yasukawa100/'">
<!--
<input type="submit" value = "終了" name="BtnKettei" class="button"><BR>
-->

</form>

</body>

</html>
